@import "../bower_components/bootstrap/dist/css/bootstrap.min.css";
@import "main.scss";

body{
  background-color:blue;
}
h4 {
  text-align:center;
  margin-top:50px;
  font-size:50px;
  color:white;
  background-image:url('images/darth-vader_6wuh.jpg') no-repeat
}

h3{
  color:white;
  font-size:30px;
  text-align:center;
}

h2 {
  color:white;
  font-size:50px;
  text-align:center;
}

p {
  text-align:center;
  font-size:20px;
  color:white;
}

#login {
  margin-top:25px;
  width:200px;
  color:black;
  background-color:yellow;

}
#registro {
  margin-top:30px;
  width:200px;
  color:black;
  background-color:yellow;

}

.seccioninicio{
  text-align:center;
}

.input {
  display:inline-block;
  width:400px;
  height:50px;
  background-color:yellow;
  color:black;
  text-align:center;
  font-size:20px;
  border-radius:50px;
}

.seccion {
    margin-top:30px;
    text-align:center;

}

#imagenstarwars {
  width:100px;
}

.titulociudad {
  color:white;
  text-align:center;
}

.temperatura {
  color:white;
  text-align:center;
  font-size:20px;
}
