@import url(../bower_components/bootstrap/dist/css/bootstrap.min.css);
/* line 1, ../sass/_main.scss */
body {
  padding-top: 50px;
}

/* line 4, ../sass/_main.scss */
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

/* line 9, ../sass/_main.scss */
.logo {
  display: inline-block;
  margin: 20px 15px 0 15px;
}

/* line 14, ../sass/_main.scss */
#main-logo {
  float: left;
  margin-right: 15px;
}

/* line 15, ../sass/_main.scss */
.brand-name {
  color: #fff !important;
}

/* line 16, ../sass/_main.scss */
#navbar {
  float: right;
}

/* line 17, ../sass/_main.scss */
#jquery-logo {
  width: 122px;
}

/* line 18, ../sass/_main.scss */
#bootstrap-logo {
  width: 54px;
}

/* line 19, ../sass/_main.scss */
#sass-logo {
  width: 62px;
}

/* line 20, ../sass/_main.scss */
#yeoman-logo {
  width: 75px;
}

/* line 21, ../sass/_main.scss */
#npm-logo {
  width: 70px;
}

/* line 22, ../sass/_main.scss */
#grunt-logo {
  width: 63px;
}

/* line 23, ../sass/_main.scss */
#bower-logo {
  width: 63px;
}

/* line 24, ../sass/_main.scss */
#compass-logo {
  width: 63px;
}

/* line 25, ../sass/_main.scss */
.cols-margin {
  margin-top: 42px;
}

/* line 26, ../sass/_main.scss */
.gray-text {
  color: #A5A5A5;
}

/* line 27, ../sass/_main.scss */
.docs-btn {
  background-color: #BC24D9;
  border-color: #8D1BA2;
  width: 300px;
  height: 72px;
  font-size: 26px;
  margin-top: 27px;
  line-height: 2em;
}
/* line 36, ../sass/_main.scss */
.docs-btn:hover, .docs-btn:active, .docs-btn:focus {
  background-color: #8D1BA2 !important;
  border-color: #8D1BA2 !important;
}

/* line 4, ../sass/styles.scss */
body {
  background-color: blue;
}

/* line 7, ../sass/styles.scss */
h4 {
  text-align: center;
  margin-top: 50px;
  font-size: 50px;
  color: white;
  background-image: url("images/darth-vader_6wuh.jpg") no-repeat;
}

/* line 15, ../sass/styles.scss */
h3 {
  color: white;
  font-size: 30px;
  text-align: center;
}

/* line 21, ../sass/styles.scss */
h2 {
  color: white;
  font-size: 50px;
  text-align: center;
}

/* line 27, ../sass/styles.scss */
p {
  text-align: center;
  font-size: 20px;
  color: white;
}

/* line 33, ../sass/styles.scss */
#login {
  margin-top: 25px;
  width: 200px;
  color: black;
  background-color: yellow;
}

/* line 40, ../sass/styles.scss */
#registro {
  margin-top: 30px;
  width: 200px;
  color: black;
  background-color: yellow;
}

/* line 48, ../sass/styles.scss */
.seccioninicio {
  text-align: center;
}

/* line 52, ../sass/styles.scss */
.input {
  display: inline-block;
  width: 400px;
  height: 50px;
  background-color: yellow;
  color: black;
  text-align: center;
  font-size: 20px;
  border-radius: 50px;
}

/* line 63, ../sass/styles.scss */
.seccion {
  margin-top: 30px;
  text-align: center;
}

/* line 69, ../sass/styles.scss */
#imagenstarwars {
  width: 100px;
}

/* line 73, ../sass/styles.scss */
.titulociudad {
  color: white;
  text-align: center;
}

/* line 78, ../sass/styles.scss */
.temperatura {
  color: white;
  text-align: center;
  font-size: 20px;
}
