<section class="seccion">
  <input type="text" placeholder="NOMBRE" class="input" id="nombreregistro">
</section>
<section class="seccion">
  <input type="text" placeholder="APELLIDO" class="input" id="apellidoregistro">
</section>
<section class="seccion">
  <input type="text" placeholder="NOMBRE DE USUARIO" class="input" id="usuarioregistro">
</section>
<section class="seccion">
  <input type="email" placeholder="E-MAIL" class="input" id="emailregistro">
</section>
<section class="seccion">
  <input type="password" placeholder="CONTRASEÑA" class="input"  id="passregistro">
</section>
<section class="seccion">
<button class="btn-lg" id="botonregistro">REGISTRARSE</button>
<button class="btn-lg" id="botonback">Back</button>
</section>
